body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2a93d5;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #2a93d5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #217bb0;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    text-decoration: none;
    color: #2a93d5;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none; /* Menghapus bullet */
    margin: 0; /* Menghapus margin default */
    padding: 0; /* Menghapus padding default */
}

/* CSS for positioning Home link in the top-right corner */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.home-link {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #007BFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #007BFF; /* Warna tombol */
    color: white;    /* Warna teks */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-link:hover {
    text-decoration: underline;
}

